<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h1><%= mainTitle %></h1>
	<h3>Welcome to the home server!</h3>

	<nav>
		<div class="nav-bar">
			<a href="/">Fail Safe</a>
		</div>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">Labs</a></li>
			<li><a href="/">About</a></li>
		</ul>
	</nav>
</body>
</html>